@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

.inicio-de-sesion {
	width: 320px;
	height: 440px;
	border-radius: 15px;
	background: black;
	color: white;
	top: 50%;
	left: 50%;
	padding: 70px 30px;
}

.body-home {
	margin: 0;
	padding: 0;
	background: url(../img/imghome.jpg) no-repeat center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.imgmain {
	right: 3.33333%;
	top: 3.33333%;
}

.footer {
	background-color: #ffffff;
	width: 100%;
	height: 20px;
	bottom: 0;
	position: fixed;
	text-align: center;
}
.containermio {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 1000px;
}

.titulomain {
	text-align: center;
	text-transform: uppercase;
	font: 'arial';
}