@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

.inicio-de-sesion {
	width: 320px;
	height: 440px;
	border-radius: 15px;
	background: #dc3a46;
	color: white;
	top: 30%;
	left: 50%;
	padding: 70px 30px;
}

.body-home {
	margin: 0;
	padding: 0;
	background: url(../img/imghome.jpg) no-repeat center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.body-tur {
	margin: 0;
	padding: 0;
	background: #1F618D;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.footer {
	/*background-color: #ffffff;
	width: 100%;
	height: 20px;
	bottom: 0;
	
	text-align: center;*/
	position: sticky;
	background: black;
	padding: 8px 16px 8px 16px;
	color: white;
	text-align: center;
}
.containermio {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 600px;
}

.tituloheader {
	text-align: center;
	text-transform: uppercase;
	font: 'arial';
	color: #dc3a46;
}

.titulomain {
	text-align: center;
	text-transform: uppercase;
	font: 'arial';
	color: #dc3a46;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  
}

.header a {
  float: right;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #dc3a46;
  color: #49e086;
}

.contenedor-galeria {
	float: right;
	display: flex;
	width: 100px; height: 100px;
	margin-right:60%;
	border-radius: 80px;
}
