@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

.main {
	background-image: url("../img/imghome.jpg");
	overflow: hidden;
	height: 100%;
}
.inicio-de-sesion {
	width: 320px;
	height: 440px;
	border-radius: 15px;
	background: black;
	color: white;
	top: 50%;
	left: 50%;
	padding: 70px 30px;
}

.body-home {
	margin: 0;
	padding: 0;
	background: url(../img/imghome.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.imgmain {
	right: 3.33333%;
	top: 3.33333%;
	width: 100px;
}

.titulos {
	background: white;
}

.footer {
	background-color: #ffffff;
	width: 100%;
	height: 20px;
	bottom: 0;
	position: fixed;
	text-align: center;
}
.containermio {
	width: 100%;
	padding-right: 15px;
	padding-left: 50px;
	margin-right: auto;
	margin-left: auto;
	height: 900px;
}

.titulomain {
	text-align: center;
	text-transform: uppercase;
	font: 'arial';
}