<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/miestilo2.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estrellas.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<title>PoI</title>
</head>
<body class="body-tur">
	<div th:insert="layouts/header :: header"></div>

		<h1>LISTADO POIS</h1>
		
		<div class="container">
       		<tr th:each="poi : ${pois}">
		       	 <div class="card">
		       	 
		       	 	<div class="pic-ctn">
						    <img th:src="*{'data:;base64,'+poi.imagen}" alt="no imagen" class="pic">
						    <img th:src="*{'data:;base64,'+poi.imagen2}" alt="no imagen" class="pic">
						    <img th:src="*{'data:;base64,'+poi.imagen3}" alt="no imagen" class="pic">
					</div>
					  
		         <!--   <img th:src="*{'data:;base64,'+poi.imagen}" class="card-img">-->
		            
		            <h4><td th:text="${poi.nombre}"></td></h4>

		            <p><td th:text="${poi.descripcion}"></td></p>
		      
		           	<a th:href="@{'/poi/mostrar/'+${poi.idPOI}}" href=#>Leer más</a>
		            
		        </div>
     		   </tr>
        
   		 </div>

<!-- ---------------------------------------------------------------- -->
	<div th:insert="layouts/footer :: footer"></div>
  
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			
</body>
</html>