<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/miestilo2.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<title>Tus PoIs</title>
</head>
<body class="body-tur">
	<div th:insert="layouts/header :: header"></div>
		<h1 id='title_allpoi'><span class="blanco-negro">LISTADO DE TUS POIS</span></h1>
		<br>
		<tr th:each="tur: ${turistas}"
				th:if="${tur.email == #authentication.getPrincipal().getUsername()}">
		<h3 id='title_allpoi'><span class="tuspuntos">Tus puntos: <td th:text="${tur.puntos}"></td></span></h3>
		</tr>
		<div class="container">

			<tr th:each="poi : ${pois}"
				th:if="${poi.turistaCreador == #authentication.getPrincipal().getUsername()}">
				<div class="card">
				
					<div class="pic-ctn">
						    <img th:src="*{'data:;base64,'+poi.imagen}" alt="no imagen" class="pic">
						    <img th:src="*{'data:;base64,'+poi.imagen2}" alt="no imagen" class="pic">
						    <img th:src="*{'data:;base64,'+poi.imagen3}" alt="no imagen" class="pic">
					</div>
					<h4>
						<td th:text="${poi.nombre}"></td>
					</h4>
					<p>
						<td th:text="${poi.descripcion}"></td>
					</p>
					<a th:href="@{'/poi/mostrar/'+${poi.idPOI}}" href=#>Leer más</a>
				</div>
			</tr>
		</div>
		
	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".link-compra").on(
							"click",
							function(event) {
								event.preventDefault();
								$("#modalEditar").modal("show").find(
										".modal-content").load(
										$(this).attr("href"));
							});
				});
	</script>

	<script type="text/javascript">
		function confirmarEliminar(email) {
			$('#modalEliminar').modal('show');
			$("#identificadorTuristaHiddenInput").val(email);
		}

		function eliminarTurista() {
			var id = $("#identificadorTuristaHiddenInput").val();
			window.location = "eliminarTurista/" + email;
		}
	</script>



	<!--  </div>-->

	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->



	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<div th:insert="layouts/footer :: footer"></div>
</body>
</html>