<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estrellas.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<title>PoI</title>
</head>
<body class="body-tur">

	
	<div th:insert="layouts/header :: header"></div>
	
	<div class="container">
		<h1>Ingrese datos del nuevo PoI</h1>
		<br>
	<form id="formpoi" th:object="${unPoi}" th:action="${editMode}?@{/poi/modificar}:@{/poi/guardar}" method="post" enctype="multipart/form-data">
	
	<input class="form-control" type="hidden" th:field="*{idPOI}"th:if="${editMode}">
	
	<div class="form-group row">
		<label for="nombrepoi" class="col-sm-2 col-form-label">Nombre del PoI</label>
		<div class="col-sm-10">
			<input type="text" id="nombrepoi" class="form-control" th:field="*{nombre}" required>
		</div>
		
	</div>
	
	<div class="form-group row">
		<label for="calle" class="col-sm-2 col-form-label">Calle del PoI</label>
		<div class="col-sm-10">
			<input type="text" id="calle" class="form-control" th:field="*{calle}" pattern="[A-Za-z]+" required>
		</div>
	</div>
	
	<div class="form-group row">
		<label for="numero" class="col-sm-2 col-form-label">Número</label>
		<div class="col-sm-10">
			<input type="number" id="numero" class="form-control" th:field="*{numero}" min="1" pattern="^[0-9]+">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="barrio" class="col-sm-2 col-form-label">Barrio</label>
		<div class="col-sm-10">
			<input type="text" id="barrio" class="form-control" th:field="*{barrio}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="localidad" class="col-sm-2 col-form-label">Localidad</label>
		<div class="col-sm-10">
			<input type="text" id="localidad" class="form-control" th:field="*{localidad}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="Latitud" class="col-sm-2 col-form-label">Latitud</label>
		<div class="col-sm-10">
			<input type="number" id="Latitud" class="form-control" th:field="*{latitud}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="Longitud" class="col-sm-2 col-form-label">Longitud</label>
		<div class="col-sm-10">
			<input type="number" id="Longitud" class="form-control" th:field="*{longitud}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
		<div class="col-sm-10">
			<input type="text" id="descripcion" class="form-control" th:field="*{descripcion}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="etiqueta" class="col-sm-2 col-form-label">Etiqueta</label>
		<div class="col-sm-10">
			<select id="etiqueta" class="form-control" th:field="*{etiqueta}">
					<option value="-"></option>
					<option value="cultura">Cultura</option>
					<option value="naturaleza">Naturaleza</option>
					<option value="aventura">Aventura</option>
					<option value="deportivo">Deportivo</option>
					<option value="gastronomia">Gastronomia</option>
			</select>
		</div>
	</div>
	
	<div class="form-group row">
		<label for="sitioWeb" class="col-sm-2 col-form-label" >Sitio web</label>
		<div class="col-sm-10">
			<input type="url" id="sitioWeb" class="form-control" autocomplete="off" th:field="*{sitioWeb}">
		</div>
	</div>
	
	<div class="form-group row">
		<label for="file" class="col-sm-2 col-form-label">Subir Imagen</label>
		<div class="col-sm-10">
			<input type="file" name="file" class="form-control-file" id="file" accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
			<img id="output" style="padding-top: 2px; width: 146px;" />
		</div>
	</div>
	
	<div class="form-group row">
		<label for="file2" class="col-sm-2 col-form-label">Subir Imagen2</label>
		<div class="col-sm-10">
			<input type="file" name="file2" class="form-control-file" id="file2" accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
			<img id="output" style="padding-top: 2px; width: 146px;" />
		</div>
	</div>
	
	<div class="form-group row">
		<label for="file3" class="col-sm-2 col-form-label">Subir Imagen3</label>
		<div class="col-sm-10">
			<input type="file" name="file3" class="form-control-file" id="file3" accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
			<img id="output" style="padding-top: 2px; width: 146px;" />
		</div>
	</div>
<!-- 	<div class="form-group row"> -->
<!-- 		<label for="puntuacion" class="col-sm-2 col-form-label">Puntuacion</label> -->
<!-- 		<div class="col-sm-10"> -->
<!-- 			<select id="puntuacion" class="form-control" th:field="*{puntuacion}"> -->
<!-- 					<option value="0">0</option> -->
<!-- 					<option value="1">1</option> -->
<!-- 					<option value="2">2</option> -->
<!-- 					<option value="3">3</option> -->
<!-- 					<option value="4">4</option> -->
<!-- 					<option value="5">5</option> -->
<!-- 			</select> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<!--  -->
  	<p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="5"><!--
    --><label for="radio1">★</label><!--
    --><input id="radio2" type="radio" name="estrellas" value="4"><!--
    --><label for="radio2">★</label><!--
    --><input id="radio3" type="radio" name="estrellas" value="3"><!--
    --><label for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas" value="1"><!--
    --><label for="radio5">★</label>
  </p>
  
<!--   <div class="form-group row"> -->
<!-- 		<label for="comentario" class="col-sm-2 col-form-label">Comentario</label> -->
<!-- 		<div class="col-sm-10"> -->
<!-- 			<input type="text" id="comentario" class="form-control" th:field="*{comentario}"> -->
<!-- 		</div> -->
<!-- 	</div> -->
  
	<div class="form-group row">
		<div class="col-sm-6">
			<input type="submit" class="btn btn-success btn-block"
				th:value="${editMode}?'Modificar Poi':'Crear Poi'">
		</div>
		<div class="col-sm-6">				
			<a class="btn btn-secondary btn-block" th:href="@{'/cancelar'}">Cancelar</a>				
		</div>
	</div>
		</form>


<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

		<div class="table-responsive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Nombre del PoI</th>
						<th>Calle del PoI</th>
						<th>Numero</th>
						<th>Barrio</th>
						<th>Localidad</th>
						<th>Latitud</th>
						<th>Longitud</th>
						<th>Descripcion</th>
						<th>Etiqueta</th>
						<th>Creador</th>
						<th>Sitio Web</th>	
						<th>Imagen1</th>
						<th>Imagen2</th>
						<th>Imagen3</th>
						<th>Modificar</th>
						<th>Eliminar</th>
					</tr>
				</thead>

				<!-- <tr th:if="${pois.empty}">
					<td colspan="2">No hay pois agregados aun</td>
				</tr> -->
				<tr th:each="poi : ${pois}">
					<td th:text="${poi.nombre}"></td>
					<td th:text="${poi.calle}"></td>
					<td th:text="${poi.numero}"></td>
					<td th:text="${poi.barrio}"></td>
					<td th:text="${poi.localidad}"></td>
					<td th:text="${poi.latitud}"></td>
					<td th:text="${poi.longitud}"></td>
					<td th:text="${poi.descripcion}"></td>
					<td th:text="${poi.etiqueta}"></td>
					<td th:text="${poi.turistaCreador}"></td>
					<!-- <td th:text="${poi.sitioWeb}"><a href="${poi.sitioWeb}"></a></td> -->
					<td><a th:text="${poi.sitioWeb}" th:href="${poi.sitioWeb}"></a></td>
					
					<td align="center">
						<img th:src="*{'data:;base64,'+poi.imagen}" class="card-img-top" alt="hola">
					</td>
					
					<td align="center">
						<img th:src="*{'data:;base64,'+poi.imagen2}" class="card-img-top" alt="hola">
					</td>
					
					<td align="center">
						<img th:src="*{'data:;base64,'+poi.imagen3}" class="card-img-top" alt="hola">
					</td>
					
					<td align="center">
						<a href="#" th:href="@{'/poi/editar/'+${poi.idPOI}}"> 
							<i class="fa fa-edit"></i>
						</a>
					</td>
					<td align="center">
						<a href="#" th:href="'javascript:confirmarEliminar(\''+${poi.idPOI}+'\');'">
							<i class="fa fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			</table>
		</div>
		
		<!--Modal Eliminar--> 
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog"
			aria-labelledby="eliminarModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarModalTitulo">¿Desea borrar este POI?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h6>Borrar POI</h6>
					</div>
					<input type="hidden" id="identificadorPoi" name="POIId" />
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
							  <button type="button" class="btn btn-primary"
							th:onclick="eliminarPoi()">Borrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script type="text/javascript">
			function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorPoi").val(id);
		}

		function eliminarPoi() {
			var id = $("#identificadorPoi").val();
			window.location = "eliminarPoi/" + id;
		}
	</script>

<!-- <label for="customRange2">Example range</label> -->
<!-- <input type="range" class="custom-range" min="0" max="5" id="customRange2"> -->

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<div th:insert="layouts/footer :: footer"></div>	
		
</body>
</html>
